--
-- PostgreSQL database dump
--

\restrict ZOEJ8SDbDjKtT2UhhZYfhgzxtQEDB3cKUcD1SZSknoshnYJuQjoUKuG84fEJyeD

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_sessions; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.activity_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    activity_type_id uuid NOT NULL,
    teacher_user_id uuid,
    level text NOT NULL,
    starts_at timestamp with time zone NOT NULL,
    ends_at timestamp with time zone NOT NULL,
    capacity integer NOT NULL,
    credit_cost integer NOT NULL,
    location_label text,
    status text DEFAULT 'scheduled'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT activity_sessions_capacity_check CHECK ((capacity > 0)),
    CONSTRAINT activity_sessions_credit_cost_check CHECK ((credit_cost >= 0)),
    CONSTRAINT activity_sessions_status_check CHECK ((status = ANY (ARRAY['scheduled'::text, 'cancelled'::text, 'completed'::text])))
);


ALTER TABLE public.activity_sessions OWNER TO surf;

--
-- Name: activity_types; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.activity_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    description text,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.activity_types OWNER TO surf;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.attendance (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    booking_id uuid NOT NULL,
    marked_by_user_id uuid,
    status text NOT NULL,
    marked_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT attendance_status_check CHECK ((status = ANY (ARRAY['present'::text, 'absent'::text, 'late'::text])))
);


ALTER TABLE public.attendance OWNER TO surf;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.bookings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    session_id uuid NOT NULL,
    user_id uuid NOT NULL,
    status text DEFAULT 'booked'::text NOT NULL,
    booked_by_user_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT bookings_status_check CHECK ((status = ANY (ARRAY['booked'::text, 'cancelled'::text, 'attended'::text])))
);


ALTER TABLE public.bookings OWNER TO surf;

--
-- Name: credit_transactions; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.credit_transactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    wallet_id uuid NOT NULL,
    related_booking_id uuid,
    actor_user_id uuid,
    amount integer NOT NULL,
    direction text NOT NULL,
    reason text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT credit_transactions_amount_check CHECK ((amount > 0)),
    CONSTRAINT credit_transactions_direction_check CHECK ((direction = ANY (ARRAY['credit'::text, 'debit'::text, 'refund'::text, 'adjustment'::text])))
);


ALTER TABLE public.credit_transactions OWNER TO surf;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    label text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.roles OWNER TO surf;

--
-- Name: surf_camp_packages; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.surf_camp_packages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    description text,
    nights integer DEFAULT 0 NOT NULL,
    price_cents integer,
    active boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.surf_camp_packages OWNER TO surf;

--
-- Name: users; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    role_id uuid NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    academy_member boolean DEFAULT false NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    academy_code text,
    CONSTRAINT users_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'active'::text, 'suspended'::text, 'deleted'::text])))
);


ALTER TABLE public.users OWNER TO surf;

--
-- Name: wallets; Type: TABLE; Schema: public; Owner: surf
--

CREATE TABLE public.wallets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    balance_credits integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.wallets OWNER TO surf;

--
-- Data for Name: activity_sessions; Type: TABLE DATA; Schema: public; Owner: surf
--



--
-- Data for Name: activity_types; Type: TABLE DATA; Schema: public; Owner: surf
--



--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: surf
--

COPY public.attendance (id, booking_id, marked_by_user_id, status, marked_at) FROM stdin;
\.


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: surf
--



--
-- Data for Name: credit_transactions; Type: TABLE DATA; Schema: public; Owner: surf
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: surf
--

COPY public.roles (id, code, label, created_at) FROM stdin;
34914d04-4a9b-488f-ab68-6c2ab3a019c8	admin	Administrator	2026-06-27 15:52:05.927686+00
57e9b744-73b2-450b-a0ca-3eeab90ddbbf	moderator	Moderator	2026-06-27 15:52:05.927686+00
7cd07acd-ee57-4fbc-8ec4-7c3fe0bf919e	teacher	Teacher	2026-06-27 15:52:05.927686+00
679d5eb9-035e-4ea6-a536-d7be375056a5	user	User	2026-06-27 15:52:05.927686+00
\.


--
-- Data for Name: surf_camp_packages; Type: TABLE DATA; Schema: public; Owner: surf
--

COPY public.surf_camp_packages (id, title, description, nights, price_cents, active, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: surf
--



--
-- Data for Name: wallets; Type: TABLE DATA; Schema: public; Owner: surf
--



--
-- Name: activity_sessions activity_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.activity_sessions
    ADD CONSTRAINT activity_sessions_pkey PRIMARY KEY (id);


--
-- Name: activity_types activity_types_code_key; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.activity_types
    ADD CONSTRAINT activity_types_code_key UNIQUE (code);


--
-- Name: activity_types activity_types_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.activity_types
    ADD CONSTRAINT activity_types_pkey PRIMARY KEY (id);


--
-- Name: attendance attendance_booking_id_key; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_booking_id_key UNIQUE (booking_id);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_session_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_session_id_user_id_key UNIQUE (session_id, user_id);


--
-- Name: credit_transactions credit_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_code_key; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_code_key UNIQUE (code);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: surf_camp_packages surf_camp_packages_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.surf_camp_packages
    ADD CONSTRAINT surf_camp_packages_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wallets wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_pkey PRIMARY KEY (id);


--
-- Name: wallets wallets_user_id_key; Type: CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_user_id_key UNIQUE (user_id);


--
-- Name: idx_bookings_user_session; Type: INDEX; Schema: public; Owner: surf
--

CREATE INDEX idx_bookings_user_session ON public.bookings USING btree (user_id, session_id);


--
-- Name: idx_credit_transactions_user_created; Type: INDEX; Schema: public; Owner: surf
--

CREATE INDEX idx_credit_transactions_user_created ON public.credit_transactions USING btree (user_id, created_at DESC);


--
-- Name: idx_sessions_starts_at; Type: INDEX; Schema: public; Owner: surf
--

CREATE INDEX idx_sessions_starts_at ON public.activity_sessions USING btree (starts_at);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: surf
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: activity_sessions activity_sessions_activity_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.activity_sessions
    ADD CONSTRAINT activity_sessions_activity_type_id_fkey FOREIGN KEY (activity_type_id) REFERENCES public.activity_types(id);


--
-- Name: activity_sessions activity_sessions_teacher_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.activity_sessions
    ADD CONSTRAINT activity_sessions_teacher_user_id_fkey FOREIGN KEY (teacher_user_id) REFERENCES public.users(id);


--
-- Name: attendance attendance_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE CASCADE;


--
-- Name: attendance attendance_marked_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_marked_by_user_id_fkey FOREIGN KEY (marked_by_user_id) REFERENCES public.users(id);


--
-- Name: bookings bookings_booked_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_booked_by_user_id_fkey FOREIGN KEY (booked_by_user_id) REFERENCES public.users(id);


--
-- Name: bookings bookings_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.activity_sessions(id) ON DELETE CASCADE;


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: credit_transactions credit_transactions_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id);


--
-- Name: credit_transactions credit_transactions_related_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_related_booking_id_fkey FOREIGN KEY (related_booking_id) REFERENCES public.bookings(id) ON DELETE SET NULL;


--
-- Name: credit_transactions credit_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: credit_transactions credit_transactions_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_wallet_id_fkey FOREIGN KEY (wallet_id) REFERENCES public.wallets(id) ON DELETE CASCADE;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: wallets wallets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: surf
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ZOEJ8SDbDjKtT2UhhZYfhgzxtQEDB3cKUcD1SZSknoshnYJuQjoUKuG84fEJyeD

